<ul>
	<li>{{#link-to 'index'}}Introduction{{/link-to}}</li>
	<li>{{#link-to 'biographical'}}Biography{{/link-to}}</li>
    <li>{{#link-to 'work-experience'}}Work Experience{{/link-to}}</li>
    <li>{{#link-to 'required-skills'}}Required Skills{{/link-to}}</li>
    <li>{{#link-to 'references'}}References{{/link-to}}</li>
</ul>