<div class="container-2">
	<div class="container-1">
		<ul>
			<li>&copy; {{year}} <a href='http://www.sarahschafer.com' target='_blank'>Sarah Schäfer</a></li>
			<!-- <li>{{#link-to 'terms-of-use'}}Terms of Use{{/link-to}}</li>
			<li>{{#link-to 'privacy-policy'}}Privacy Policy{{/link-to}}</li>
			<li>{{#link-to 'faq'}}FAQs{{/link-to}}</li> -->
		</ul>
		<div class="clr"></div>
	</div>
</div>
<div class="clr"></div>
