<div class="logo-container">
	{{#link-to 'index'}}<img src='assets/images/zetiz-mocaa-logo.png' />{{/link-to}}
</div>
{{layouts/restricted/user-greeting}}
{{#if systemMessage}}{{layouts/system-message systemMessage=systemMessage}}{{/if}}
<div class= "clr"></div>