<ul>
    <li>Research-based work completed at the Institute for the Study of English in Africa (ISEA), for the Oxford South African English Dictionary Unit</li>
    <li>Work involved research and basic digitisation</li>
</ul>