<p>The annual National Arts Festival is home to <em>Cue</em>, one of South Africa&rsquo;s oldest daily arts newspapers.</p>
<ul>
    <li>Managing a team of 15-20 photographers, liaising with editorial and production teams, meeting strict deadlines and delivering high-quality images for print and online publication</li>
    <li>Working closely with and building relationships with contemporary African artists
</li>
<li>Responsibilities include management and communication, art direction and curating a database of images
</li>
</ul>