<ul>
    <li>Working with David Larsen, director of Africa Media Online in a digitisation project for the Google Cultural Institute</li>
    <li>Digitisation of three South African textile collections: Shweshwe, jewellry and handbags
</li>
    <li>Working within the international digitisation guidelines for archival photography</li>
</ul>