<ul>
    <li>Working with David Larsen, director of <a href="http://www.africamediaonline.com/" target="_blank">Africa Media Online</a> in a digitisation project for the textile collection at the <a href="https://www.google.com/culturalinstitute/about/partners/" target="_blank">Google Cultural Institute</a></li>
    <li>Digitisation of three South African textile collections: Shweshwe, jewellry and handbags
</li>
    <li>Working within the international digitisation guidelines for archival photography</li>
</ul>