<ul>
    <li>Working within an informal collective of freelance developers and content creators making websites and online platforms
</li>
    <li>My role was to communicate with stakeholders, liaise with the developers and create content for these online platforms
</li>
    <li>Clients include <em><a href='http://www.luddite.co.za/' target='_blank'>Luddite</a></em>, <em><a href='http://www.camillaskitchen.co.za/' target='_blank'>Camilla’s Kitchen</a></em> and <em><a href='http://www.ryanboon.co.za/' target='_blank'>Ryan Boon</a></em></li>
</ul>