<ul>
    <li>Working within an informal collective of freelance developers and content creators making websites and online platforms
</li>
    <li>My role was to communicate with stakeholders, liaise with the developers and create content for these online platforms
</li>
    <li>Clients include <em>Luddite</em>, <em>Camilla’s Kitchen</em> and <em>Ryan Boon</em></li>
</ul>