<ul>
    <li>Photography on a freelance and contract basis</li>
    <li>Specialising in social documentary, food and lifestyle, portraits and interior and architecture photography</li>
    <li>Books include <em>A Week in the Kitchen, Another Week in the Kitchen, Retreat, Stars Shining on Cape Town, Market Day </em> and <em>Cheeses of South Africa 
 </em></li>
    <li>Clients include publishers (Jonathan Ball, Sunbird, Jacana, Inkognito, RWM, Terroir Förlag); online publications (The Journalist, Homemakers, Visi, Aroma, Crush, The Platform); magazines (New Media Publishing, The Big Issue, Condé Nast, Entrepreneur, Good Taste); companies (Airbnb, Engen, Orient Express Hotels), NGOs (SANYO, NACOSA, The Red Cross Children’s Hospital) and various individuals and organisations 
</li>
    <li>Post-production, which encompasses a sound knowledge of photo editing software and a thorough understanding of digital images
</li>
    <li>Administration and communications with all clients</li>
</ul>