<ul>
    <li>Contracted by organisations and NGOS to create materials within the Southern African health sector</li>
    <li>I spent time travelling in South Africa researching, conducting interviews, photographing, videoing and putting together features with a focus on health, gender and children</li>
    <li>Building relationships around storytelling</li>
    <li>Clients include <a href="http://www.nacosa.org.za/2016/04/01/portraits-of-the-people-annual-report-2015/" target="_blank">NACOSA</a> and USAID</li>
</ul>