<ul>
    <li>As part of a project with Prof Robert Morell, I collated data about gender-related South African publications and literature</li>
    <li>The work was used as part of a larger body of literature for an academic project focusing on the Global South</li>
</ul>