<ul>
    <li>As part of a project with Prof Robert Morell, I collated data about gender-related South African publications and literature</li>
    <li>The work was used as part of a larger body of literature for an academic project - <em>The Emergence of Gender Scholarship in South Africa &ndash; reflections on Southern Theory</em></li>
</ul>