<p>The annual National Arts Festival is home <em>Cue</em>, one of South Africa&rsquo;s oldest daily arts newspapers.</p>
<ul>
    <li>I manage a team of 15-20 photographers, liaising with editorial and production teams, meeting strict deadlines and delivering high-quality images for print and online publication for the duration of the festival.</li>
    <li>Responsibilities include communication with relevant artists, art direction for photo shoots and curating a database of images that are available to media houses and publications.</li>
</ul>