<ul>
    <li>I assisted David Larsen, director of Africa Media Online in a digitisation project for the Google Cultural Institute</li>
    <li>We digitised three South African textile collections: Shweshwe, jewellry and handbags</li>
    <li>I worked within the international digitisation guidelines for archival photography</li>
</ul>