<ul>
    <li>The collective was an informal group of freelance developers and content creators, who made websites and online platforms for several organisations or companies</li>
    <li>My role was to communicate with stakeholders, liaise with the developers and create content for these platforms</li>
    <li>Clients include Luddite, Camilla&rsquo;s Kitchen and</li>
</ul>