<ul>
    <li>Photography on a freelance and contract basis</li>
    <li>I specialise in social documentary, food and lifestyle, portraits and interior and architecture photography.</li>
    <li>I have worked on several books as a photographic assistant, and as the primary photographer. These include <em>A Week in the Kitchen, Another Week in the Kitchen, Retreat, Stars Shining on Cape Town, Market Day and Cheeses of South Africa. </em></li>
    <li>Clients include publishers (Jonathan Ball, Sunbird, Jacana, Inkognito, RWM and Terroir F&ouml;rlag), online publications (The Journalist, Homemakers, Visi, Aroma, Crush, The Platform), magazines (New Media Publishing, The Big Issue, Cond&eacute; Nast, Entrepreneur and Good Taste), companies (Airbnb, Engen, Orient Express Hotels), NGOs (SANYO, NACOSA, The Red Cross Children&rsquo;s Hospital) and various individuals and organisations.</li>
    <li>Work includes:</li>
    <li>post-production, which encompasses a sound knowledge of photo editing software and a thorough understanding of digital images</li>
    <li>administration and communications with all clients</li>
</ul>