<ul>
    <li>I was contracted by organisations and NGOS to create materials within the Southern African health sector</li>
    <li>I spent time travelling in South Africa researching, conducting interviews, photographing, videoing and putting together features with a focus on health, gender and children</li>
    <li>Clients include NACOSA and USAID</li>
</ul>