{{#layouts/restricted/page-wrapper class="welcome"}}
  {{#layouts/content-wrapper title='Introduction to this app'}}
  	
  <p>Because the building of a visitor&rsquo;s app is fundamental to the position at Zeitz Mocaa, I felt that the best way to show my understanding of the field would be through demonstration. This app is an interactive CV, created using tags, metadata, hyperlinks and a sound information architecture.</p>
<p>Even a simple app like this one needs to be thoroughly conceptualised and wireframed. Once I had identified everything that was needed, created the content and organised the files, I oversaw the creation of the app. In terms of a bigger project, this would include the establishment of a digital repository; formulating and adhering to strict naming and tagging conventions; establishing protocols for types of file creation and re-sizing; the selection of a controlled vocabulary; identifying hierarchies and taxonomies; and a solid information architecture and metadata management plan. This needs to be set up with sustainability, interoperability and growth in mind.</p>
<p>By using project management tools like Asana, the developer and I avoided a &lsquo;feedback loop&rsquo; that often occurs when developers and stakeholders don&rsquo;t communicate effectively.</p>

  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}