{{#layouts/restricted/page-wrapper class="intro"}}
  {{#layouts/content-wrapper title='Introduction'}}
 		{{#custom-elements/animated-accordion title='Personal Information' classes='personal-info' open=true}}
			<table>
			    <tbody>
			        <tr>
			            <td><strong>Date of Birth</strong></td>
			            <td>9 April 1986</td>
			        </tr>
			        <tr>
			            <td><strong>Nationality&nbsp;</strong></td>
			            <td>South African and Swiss</td>
			        </tr>
			        <tr>
			            <td><strong>Languages</strong></td>
			            <td>English, Afrikaans, Xhosa, French</td>
			        </tr>
			        <tr>
			            <td><strong><strong>Address</strong></strong></td>
			            <td>Gardens, Cape Town</td>
			        </tr>
			        <tr>
			            <td><strong>Drivers Licence&nbsp;</strong></td>
			            <td>Code B</td>
			        </tr>
			        <tr>
			            <td><strong>Contact</strong></td>
			            <td>073 307 0637 <br><a href="mailto:sarah.kate.schafer@gmail.com" target="_blank">sarah.kate.schafer@gmail.com</a><br><a href="http://www.sarahschafer.com" target="_blank">www.sarahschafer.com</a>&nbsp;</td>
			        </tr>
			    </tbody>
			</table>
		{{/custom-elements/animated-accordion}}	
		{{#custom-elements/animated-accordion title='Education' classes='education'}} 
			<h4>2016 &ndash; Present</h4>
			<ul>
			    <li>MPhil in Digital Curation, UCT</li>
			    <li>My focus is on art collections, and my thesis speculates on the concept of digitising an experience. With research from the Owl House, I attempt to digitise a sub-collection, and drawing on theory, interview a selected group of participants on the final digital collection.</li>
			</ul>
			<h4>2005 &ndash; 2009 Bachelor of Journalism (BJrn), Rhodes University</h4>
			<ul>
			    <li>Achieved with distinction</li>
			    <li>Specialising in photography and writing</li>
			    <li>Bachelor of Arts (BA)</li>
			    <li>Triple majors in Journalism, Politics and Philosophy</li>
			</ul>
			<h4>2004, Diocesan School for Girls, Grahamstown</h4>
			<ul>
			    <li>Full IEB matriculation exemption achieved with A aggregate</li>
			</ul>
		{{/custom-elements/animated-accordion}}	
		{{#custom-elements/animated-accordion title='Achievements' classes='achievements'}}
			<p>During my studies at Rhodes University, I was one of two journalism students selected to travel to China, and an exhibition of our photographic work was held later that year.</p>
			<p>President of the Masincedane Society (small NPO based around a soup kitchen in the eRhini township in Grahamstown).</p>
			<p>Placement on the Rhodes University Dean&rsquo;s Merit List, and Golden Key membership awarded on academic merit.</p>
			<p>Elected school prefect (declined), Academic colours, Cultural colours.</p>
			<p>Trinity College of Music Grade 8 in piano performance.</p>
			<p>My photographic work has been exhibited locally and internationally:</p>
			<ul>
			    <li>
			        <strong>After the Masterclass</strong>, BMW showroom, Cape Town
			        <ul>
			            <li>(After attending a masterclass with Jurgen Schadeberg)</li>
			        </ul>
			    </li>
			    <li>
			        <strong>Collection of street photography</strong>, part of a collective
			        <ul>
			            <li>The Photographer&rsquo;s Gallery , Cape Town</li>
			            <li>A selection of street photography</li>
			        </ul>
			    </li>
			    <li>
			        <strong>Waiting and Watching</strong>, Brussels, Belgium.
			        <ul>
			            <li>An exhibition organised by DeBuren, a Dutch/Flemish cultural organisation. A photo-story of mine was on show in Brussels for two months.</li>
			        </ul>
			    </li>
			</ul>
		{{/custom-elements/animated-accordion}}
		{{#custom-elements/animated-accordion title='Skills' classes='skills'}}
			<p>I am confident in software applications on Mac and Windows operating systems.</p>
			<p>These include:</p>
			<ul>
			    <li>Adobe Creative Suite (CC): Photoshop, Lightroom, Bridge, InDesign, Dreamweaver, PremierePro, Audition</li>
			    <li>Microsoft Office, open office and Google Docs</li>
			    <li>Working knowledge of HTML and CSS</li>
			    <li>Content management systems (CMS):  Wordpress, Joomla, Drupal</li>
			    <li>Social media: Twitter, Facebook, Instagram</li>
			</ul>
			<p>My communication skills, both written and verbal, are excellent.</p>
			<p>I am resourceful, a multi-tasker, and my organisational abilities are good. I understand the importance of meeting deadlines, and work well under pressure. I am happy to work in a team or independently, and I maintain good relationships with colleagues and contacts.</p>
			{{/custom-elements/animated-accordion}}
			{{#custom-elements/animated-accordion title='Interests' classes='interests'}}
			<p>The Digital Humanities, Africa, art, people, words, food, feminism, information architecture, learning, human rights, gender, health, the Internet of Things, design, travel, architecture, music, languages, photography, books, mountains, running.</p>
		{{/custom-elements/animated-accordion}}
	{{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}