{{#layouts/restricted/page-wrapper class="references"}}
  {{#layouts/content-wrapper title='References'}}
	  	<h4>Sean O&rsquo;Toole</h4>
		<p class='sub-text'>Journalist, Writer, Editor, Art Critic&nbsp;</p>
		<p>Sean and I have worked together regularly over the past five years. We both travel to Grahamstown, home of the National Arts Festival, to work at its daily newspaper, <em>Cue </em>for the duration of the festival. We are both part of the editorial team &ndash; Sean is the managing editor and I am the pictures editor. In this role, I manage a team of photographers and communicate with artists and performers; photographers; journalists; the editorial team and the production team.</p>
		<p class='sub-text bold'>Email - <a href="mailto:seanwotoole@gmail.com">seanwotoole@gmail.com</a></p>
		<p class='sub-text bold'>Phone - 073 146 2046</p>
		<hr>
		<h4>David Larsen</h4>
		<p class='sub-text'>Managing Director, Africa Media Online</p>
		<p>David is managing director of <em>Africa Media Online</em>, one of the few professional digitisation organisations in South Africa. In 2016, I worked with him on a project for the Google Cultural Institute. We scoped artefacts, and digitised three textile collections in Cape Town, all housed and owned by Iziko. David&rsquo;s knowledge of the field is extraordinary, and I gained invaluable insight from him, including techniques and guidelines for digitising museum artefacts.</p>
		<p class='sub-text bold'>Email - <a href="mailto:editor@africamediaonline.com">editor@africamediaonline.com</a></p>
		<p class='sub-text bold'>Phone - 082 829 7959</p>
  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}