{{#layouts/restricted/page-wrapper class="references"}}
  {{#layouts/content-wrapper title='References'}}
  	<p>References</p>
  	{{#custom-elements/in-page-alert type='info'}}
  		<p>Testing</p>
  	{{/custom-elements/in-page-alert}}
  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}