{{#layouts/restricted/page-wrapper class="references"}}
  {{#layouts/content-wrapper title='References'}}
	  	<h4>Sean O&rsquo;Toole</h4>
		<p>Art critic, writer</p>
		<hr>
		<h4>David Larsen</h4>
		<p>Director, Africa Media Online</p>
		<hr>
		<h4>Richard Higgs</h4>
		<p>Academic, supervisor, digital curator</p>
  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}