{{#layouts/restricted/page-wrapper class="work-experience"}}
  	{{#layouts/content-wrapper title='Work Experience'}}
  		{{#custom-elements/animated-accordion title='2010 - Present' open=true}}
	  		<h3>Freelance Photographer</h3>
	  		<ul>
	  		    <li>Photography on a freelance and contract basis</li>
	  		    <li>I specialise in social documentary, food and lifestyle, portraits and interior and architecture photography.</li>
	  		    <li>I have worked on several books as a photographic assistant, and as the primary photographer. These include <em>A Week in the Kitchen, Another Week in the Kitchen, Retreat, Stars Shining on Cape Town, Market Day and Cheeses of South Africa. </em></li>
	  		    <li>Clients include publishers (Jonathan Ball, Sunbird, Jacana, Inkognito, RWM and Terroir F&ouml;rlag), online publications (The Journalist, Homemakers, Visi, Aroma, Crush, The Platform), magazines (New Media Publishing, The Big Issue, Cond&eacute; Nast, Entrepreneur and Good Taste), companies (Airbnb, Engen, Orient Express Hotels), NGOs (SANYO, NACOSA, The Red Cross Children&rsquo;s Hospital) and various individuals and organisations.</li>
	  		    <li>Work includes:</li>
	  		    <li>post-production, which encompasses a sound knowledge of photo editing software and a thorough understanding of digital images</li>
	  		    <li>administration and communications with all clients</li>
	  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2016'}}
	  		<h3>Digitisation assistant, Google Cultural Institute: South African Textiles project</h3>
	  		<ul>
	  		    <li>I assisted David Larsen, director of Africa Media Online in a digitisation project for the Google Cultural Institute</li>
	  		    <li>We digitised three South African textile collections: Shweshwe, jewellry and handbags</li>
	  		    <li>I worked within the international digitisation guidelines for archival photography</li>
	  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2015'}}
	  		<h3>Research Assistant, UCT</h3>
	  		<ul>
	  		    <li>As part of a project with Prof Robert Morell, I collated data about gender-related South African publications and literature.</li>
	  		    <li>The work was used as part of a larger body of literature for an academic project focusing on the Global South.</li>
	  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2014 - 2016'}}
  		<h3>Freelance editor and copywriter</h3>
  		<ul>
  		    <li>Writing and editing on a contract and freelance basis</li>
  		    <li>Clients include the International Accounting Bulletin, iTunes and Sunbird publishers</li>
  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2014 - 2015'}}
  		<h3>Gender and Health Journalist</h3>
  		<ul>
  		    <li>I was contracted by organisations and NGOS to create materials within the Southern African health sector</li>
  		    <li>I spent time travelling in South Africa researching, conducting interviews, photographing, videoing and putting together features with a focus on health, gender and children</li>
  		    <li>Clients include NACOSA and USAID</li>
  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2015 - Present'}}
  		<h3>Creative Director, Fierce Sheep Collective</h3>
  		<ul>
  		    <li>The collective was an informal group of freelance developers and content creators, who made websites and online platforms for several organisations or companies</li>
  		    <li>My role was to communicate with stakeholders, liaise with the developers and create content for these platforms</li>
  		    <li>Clients include Luddite, Camilla&rsquo;s Kitchen and</li>
  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2013 - Present'}}
  		<h3>Pictures editor, Cue Newspaper</h3>
  		<p>The annual National Arts Festival is home <em>Cue</em>, one of South Africa&rsquo;s oldest daily arts newspapers.</p>
  		<ul>
  		    <li>I manage a team of 15-20 photographers, liaising with editorial and production teams, meeting strict deadlines and delivering high-quality images for print and online publication for the duration of the festival.</li>
  		    <li>Responsibilities include communication with relevant artists, art direction for photo shoots and curating a database of images that are available to media houses and publications.</li>
  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2012 - Present'}}
  		<p>Piano Teacher</p>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2010'}}
  		<h3>Photographic Archiver, Iziko National Gallery</h3>
  		<p>I was the assistant to the photographic curator, Pam Warne, and archiver of photographic slides and negatives.</p>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2006 - 2009'}}
  		<h3>Student journalist</h3>
  		<p>I worked as a journalist, photographer and editor for several publications (<em>The Oppidan Press , Grahamstown This Week ,Grocott&rsquo;s Mail , Cue , SciCue , Activate, Rhodos</em>) and organisations (Transnet, SAARMSTE, Highway Africa) during my studies.</p>
  		{{/custom-elements/animated-accordion}}{{#custom-elements/animated-accordion title='2008 - 2009'}}
  		<h3>Assistant lexicographer</h3>
  		<ul>
  		    <li>Research-based work completed at the Institute for the Study of English in Africa (ISEA), for the Oxford South African English Dictionary Unit</li>
  		    <li>Work involved research and basic digitisation</li>
  		</ul>
  		{{/custom-elements/animated-accordion}}
  		{{#custom-elements/animated-accordion title='2005'}}
  		<h3>Social Worker</h3>
  		<p>During my first year out of school, I worked in Switzerland as an instructor at an alternative institute for mentally disabled adults.</p>
  		{{/custom-elements/animated-accordion}}
  	{{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}