{{#layouts/restricted/page-wrapper class="work-experience"}}
  {{#layouts/content-wrapper title='Work Experience'}}
  	<p>Work Experience</p>
  {{/layouts/content-wrapper}}
{{/layouts/restricted/page-wrapper}}